
$maxWidth: 1200; //set large breakpoint. unitless value in pixels.
$minWidth:320;



$fw-regular:400;
$fw-light:300;
$fw-medium:500;
$fw-bold:700;



$color-main:#FFFDD0;
$color-pink:rgb(255, 182, 197);
$color-white:#fff;